html{
    height: 100hv;
}
body{
    height: 100hv;
background-image: url("https://p4.wallpaperbetter.com/wallpaper/870/756/865/grid-lines-blue-lines-dark-4k-wallpaper-preview.jpg");    
background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.tasks li i {
    color: #712cf9;
}


.task:hover {
    background-color: #eee !important;
}
.task .arrow-btn {
    cursor: pointer;
    transition: 0.3s;
}

.task .arrow-btn:hover {
    transform: scale(1.5) rotate(360deg);
}

.image-edit {
    position: relative;
}
.image-edit label i {
    position: absolute;
    top:5px;
    left:10px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.2s;
}
.image-edit label i:hover {
    font-size: 24px;
    color: white;
}
.rotate {
    transform: rotate(90deg);
  }
.bnt-violet{
    background: rgb(166,0,161);
    background: linear-gradient(38deg, rgba(166,0,161,1) 9%, rgba(218,0,164,1) 37%, rgba(245,113,218,1) 77%);
    color: whitesmoke ;
    padding: 0 30px;
    letter-spacing:  0.06em;
}
.container{
    margin-top: 100px;
    padding: 20px;
}

.visible{
    display: none;
}
.vertical{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 3px solid red;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
#back-btn{
    display: inline-block;
        color: rgb(0, 0, 0);
        position: absolute;
        top:5px;
        font-size: 1.9rem;
        right:10px;
        font-size: 22px;
        cursor: pointer;
        transition: 0.2s;
        border-radius: 450%;
        background-color: #eeeeeec5;
           
    border: 2px solid whitesmoke;
}

#back-btn:hover{
    transform: scale(1.2);
    color: whitesmoke;
    background-color: rgba(3, 3, 3, 0.851);
 

}

/* LOGIN */
.menu-toggle{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* ============HEADER============= */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    transition: transform 0.5s ease, heigth 0.2s ease; 
}

.logo{
    font-size: 2em;
    color: aliceblue;
    user-select: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    transition: transform 0.3s ease;
}
nav>ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav>ul>li>a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: whitesmoke;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: right;
}
nav>ul>li>a:hover::after{
transform: scaleX(1);
transform-origin: left;
}
nav>ul>li>a{
    position: relative;
    font-size: 1.1em;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
  
}

.switch-account-btn{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid floralwhite;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: aliceblue;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;

}
.login-link{
    color: rgb(39, 144, 241);
}
.register-link{
    font-size: 1.6em;
    text-decoration: underline rgb(7, 155, 200);
}
.switch-account-btn:hover{
    background-color: rgb(53, 178, 227);
    color: black;
}


.wrapper{
    position: relative;
    width: 400px;
    left: 20%;
    height: 440px;
    background: transparent;
    border:2px solid rgba(128, 128, 128, 0.529) ;
    border-radius: 20px;
    backdrop-filter: blur(20px);
margin-top: 200px;
color: azure;
box-shadow: 0px 0px 5px 2px #8C8C8C;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
transition: heigth 0.2s ease;
transform: scale(0);
transition: transform 0.5s ease, heigth 0.2s ease;
}
.wrapper.active-popur{
    transform: scale(1);
}
.wrapper .active{
    height: 520px;
}

.form-box{
    width: 100%;
    padding: 40px;
}
.Register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}



.form-box h2{
    font-size: 2em;
    color: rgb(3, 189, 241);
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top:50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgb(3, 189, 241);
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
   
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(3, 189, 241);
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    bottom: 5px;
    font-size: 26px;
}

.remember-forgot{
    font-size: 0.9em;
    color: rgb(3, 189, 241);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: rgb(0, 195, 255);
    margin-right: 3px;
}

.remember-forgot a{
    color: rgb(3, 189, 241);
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}
.icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: rgb(3, 189, 241);
    font-size: 2em;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.btn-sub{
    width: 100%;
    height: 45px;
    color: rgb(34, 46, 49);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.6em;
    background-color: rgba(0, 194, 253, 0.575);
    font-weight: 500;
}
.reg-btn{
    background: transparent ; 
    border: none;
    font-size: 1.6em;
    text-decoration: underline rgb(4, 210, 224);
}
.login-register{
    font-size: 0.9em;
    color: rgb(0, 162, 221);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: rgb(3, 189, 241);
text-decoration: none;
font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

.wrapper  .form-box .login{
    transition: transform  0.2s;
    transform: translateX(0);
   
}

.hide{
    display: none;
}

.translate-visible{
    transition: transform  0.2s;
    transform: translateX(0px);
    
}

.translate-unvisible{
    transition: transform  0.2s;
    transform: translateX(400px);
   
}


.wrapper .active .form-box .login{
    
    transform: translateX(-400px);
}
.wrapper.active.form-box.Register{
    transition: transform 0.2s ease;
    transform: translateX(0);
}

#tasks-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:5%;

}

.task-card{
    background-image: url('./img/card-bg.jpg');

        box-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF, 0 0 30px #00FFFF, 0 0 40px #00008B, 0 0 70px #00008B, 0 0 80px #00008B, 0 0 100px #00008B, 0 0 150px #00008B;
        text-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF, 0 0 30px #00FFFF, 0 0 40px #00008B, 0 0 70px #00008B, 0 0 80px #00008B, 0 0 100px #00008B, 0 0 150px #00008B;
        color: rgb(255, 255, 255);
    
}


@media screen and (max-width:860px) {
    #tasks-wrapper{
        
        grid-template-columns: repeat(2,1fr);
    }
   
        .logo { 
          font-size: 1.6em; 
        } 
        nav { 
          display: none; 
          transition: transform 0.5s ease, heigth 0.2s ease; 
        } 
        
        .switch-account-btn { 
          margin-left: 0; 
        } 
        .menu-toggle { 
            display: block;
          font-size: 2em; 
          color: aliceblue; 
          cursor: pointer; 
          z-index: 4; 
          position: absolute; 
          right: 30px; 
          top: 20px; 
          outline: none; 
          border: none; 
          background: none; 
        } 
        .menu-toggle:hover { 
          color: rgb(7, 155, 200); 
        } 
        .menu-toggle:focus { 
          outline: none; 
        } 
        .menu-toggle span { 
          display: block; 
          width: 25px; 
          height: 3px; 
          background: aliceblue; 
          margin-bottom: 5px; 
          position: relative; 
          z-index: 3; 
          transform-origin: center; 
        } 
        .menu-toggle span:nth-child(1) { 
          transform: rotate(45deg); 
        } 
        .menu-toggle span:nth-child(2) { 
          transform: rotate(-45deg); 
        } 
        .menu-toggle span:nth-child(3) { 
          transform: rotate(45deg); 
        } 
        #menu:checked ~ nav { 
          display: block; 
          background: rgba(0, 0, 0, 0.7); 
          width: 100%; 
          height: 100%; 
          top: 0; 
          left: 0; 
          position: fixed; 
          z-index: 2; 
          overflow: hidden; 
        } 
        #menu:checked ~ nav > ul { 
          display: block; 
          width: 100%; 
          margin: 0; 
        } 
        #menu:checked ~ nav > ul > li { 
          width: 100%; 
          margin: 20px 0px; 
        } 
        #menu:checked ~ nav > ul > li > a { 
          display: block; 
          width: 100%; 
          text-align: center; 
          margin: 0px; 
          color: aliceblue; 
          font-size: 1.3em; 
        } 
        #menu:checked ~ nav > ul > li > a:hover::after { 
          transform: none; 
          transform-origin: center; 
        } 
        header{
            transition: transform 0.5s ease, heigth 0.2s ease; 
        }
      
}


@media screen and (max-width:680px) {
    #tasks-wrapper{
        
        grid-template-columns: 1fr;
    }
    
}


#image-preview{
    border: 3px solid green;
    width: 100%;
} 
#image-preview >img{
    border: 3px solid green;
    width: 100%;
}